* {
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --pureblack: #000000;
  --atom-grey: #1F2329;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: var(--pureblack);
  color: var(--white);
}

.container {
  width: clamp(250px, 60%, 600px);
  margin: 2em auto;
}

header.container {
  margin: 3em auto 0; 
}

h1 {
  margin: 0;
  color: var(--white);
  text-decoration: underline;
}

.text-group {
  background-color: var(--atom-grey);
  border: 4px solid grey;
  height: 55vh;
  border-radius: 10px;
  margin-bottom: 0.5em;
  text-align: center;
  padding: 0.5em 0;
  font-size: 2.25rem;
}

.declare-winner {
  margin-top: 1em;
}

.play {
  margin-top: 1em;
}

.play-btn {
  font-size: 2.5rem;
  margin: 0 auto;
  border: none;
  background: var(--atom-grey);
  color: var(--white);
  text-transform: uppercase;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.choice {
  display: none;
  color: var(--white);
  font-size: 2em;
  background: var(--pureblack);
  text-transform: uppercase;
  letter-spacing: 1.1px;
}

.choice:active,
.choice:hover {
  color: yellow;
}

.play-btn:active,
.play-btn:hover {
  color: cyan;
}

@media (min-width: 600px) {
  .btn-group {
    flex-direction: row;
    justify-content: space-around;
  }
}
